@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

html, body {
    font-family: "Inter", sans-serif !important;
    color: #e5e7eb !important;
}

/* =========================
   ICON FONT FIX
========================= */

.material-icons,
.material-icons-round,
.material-icons-sharp,
.material-icons-outlined,
.cardOverlayFab-primary .material-icons {
    font-family: "Material Icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    letter-spacing: normal !important;
    text-transform: none !important;
    white-space: nowrap !important;
    direction: ltr !important;
}
